In [3]:


import mysql.connector

con=mysql.connector.connect(host="localhost",user="root",passwd="root")

c=con.cursor()

c.execute('show databases')

for i in c:
    print(i)

('basic',)
('college',)
('gauri',)
('information_schema',)
('mysql',)
('payment',)
('performance_schema',)
('sai',)
('stu',)
('student',)
('sys',)
('xyz',)

In [2]:
# pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-py2.py3-none-any.whl (565 kB)
     |████████████████████████████████| 565 kB 1.9 MB/s eta 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip show mysql-connector-python

Name: mysql-connector-python
Version: 8.4.0
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: /home/shyam/.local/lib/python3.8/site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [14]:


import mysql.connector

con=mysql.connector.connect(host="localhost",user="root",passwd="root",database="gauri")

c=con.cursor()

c.execute('show tables')

for i in c:
    print(i)

('EMPLOYEE',)
('dept',)
('student',)

In [16]:




import mysql.connector

con=mysql.connector.connect(host="localhost",user="root",passwd="root",database="gauri")

c=con.cursor()


c.execute("create table student(rollno int primary key,name varchar(30) not null,city varchar(30) not null)")

# c.execute("show tables;")

# for i in c:
#     print(i)

('EMPLOYEE',)
('dept',)
('student',)

In [31]:




import mysql.connector

con=mysql.connector.connect(host="localhost",user="root",passwd="root",database="gauri")

c=con.cursor()

a="insert into student(rollno,name,city)values(%s,%s,%s)"
b=[(1,"saikrushna","mumbai"),(2,"dhanu","worli"),(3,"manoj","sion")]

try:
    c.executemany(a,b)
    con.commit()
except:
    con.rollback()


print(c.rowcount,"affected")

con.close()

3 affected

In [32]:




import mysql.connector

con=mysql.connector.connect(host="localhost",user="root",passwd="root",database="gauri")

c=con.cursor()


c.execute("select * from student")

In [42]:




import mysql.connector

con=mysql.connector.connect(host="localhost",user="root",passwd="root",database="gauri")

c=con.cursor()

a="insert into student(rollno,name,city)value(%s,%s,%s)"
b=(8,"saikrushna","mumbai")
try:
    c.execute(a,b)
    con.commit()
except:
    con.rollback()


print(c.rowcount,"affected")

con.close()

1 affected

In [38]:




import mysql.connector

con=mysql.connector.connect(host="localhost",user="root",passwd="root",database="gauri")

c=con.cursor()

a="insert into student(rollno,name,city)values(%s,%s,%s)"
b=[(4,'abc','hi'),(5,'def','bye')]
try:
    c.executemany(a,b)
    con.commit()
except:
    pass


print(c.rowcount,"affected")
print(c.rowcount,"row affected")

con.close()

-1 affected
-1 row affected

In [45]:




import mysql.connector

con=mysql.connector.connect(host="localhost",user="root",passwd="root",database="gauri")

c=con.cursor()


try:
    c.execute("insert into student(rollno,name,city)value(%s,%s,%s)",(9,"saikrushna","mumbai"))
    con.commit()
except:
    con.rollback()


print(c.rowcount,"affected")
print('understood')

con.close()

-1 affected
understood

In [2]:
import mysql.connector

conn=mysql.connector.connect(host="localhost",user="root",passwd="root",database="gauri")

c=conn.cursor()

c.execute("alter table student add column percentage int default 90")

conn.commit()